// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "/vendor/qs/fonts/" !default;
@import '~font-awesome/scss/font-awesome';

body {
  font-size: .875rem;
  .navbar a {
    color: #222;
  }
  form {
    .invalid-feedback {
      display: block !important;
    }
  }
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    background-color: #333 !important;
    box-shadow: inset -1px 0 0 rgba(216, 216, 216, 0.1);
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 48px; /* Height of navbar */
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }
    a.nav-link {
      font-weight: 500;
      color: #DDD;
      &:hover {
        background-color: #444;
      }
      .feather {
        margin-right: 4px;
        color: #999;
      }
      &.active {
        color: #19b3cc;
        &:hover {
          background-color: #444;
        }
      }
    }
  }

  .navbar {
    a {
      color: #AAA;
    }
    .form-control {
      padding: .75rem 1rem;
      border-width: 0;
      border-radius: 0;
    }
    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: #222;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      color: #CCC;
    }
    .form-control-dark {
      color: #fff;
      background-color: rgba(255, 255, 255, .1);
      border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
  }

  .shadow {
    -webkit-box-shadow: 0px 10px 48px -25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 48px -25px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 48px -25px rgba(0, 0, 0, 0.5);
  }
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }

  .bg-border {
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}
